@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/custom.css';

:root {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-merriweather);
}

@layer base {
  body {
    @apply bg-white text-gray-900;
    font-family: var(--font-sans);
  }
}